*{
margin-left: 100px;
margin-right: 100px;
}

.animal{
  width: 300px;
  height: 300px;
  margin: 0;
}

.blanco-negro{
  filter: grayscale(100%);
  -webkit-filter: gray
}

.invertir-colores{
  -webkit-filter: invert(.8);
  filter invert(.8);
}

.sepia{
  -webkit-filter: sepia (1);
  filter: sepia(1);
}

.boton{
  margin-left: 40%;
  margin-right: 40%;
}
